table, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    margin: auto;
    width: 100%;
}
td{
    height: 300px;
    font-size: 30px;
}
.box-1{
    width: 50%;
    background-color: pink;
}
.box-2{
    width: 50%;
    background-color: skyblue;
}